In [441]:
import pandas as pd

In [442]:
#import files from resources
schools_data_path = 'schools_complete.csv'
student_data_path = 'students_complete.csv'

In [443]:
#read and display the data 
schools_df = pd.read_csv('schools_complete.csv')
students_df = pd.read_csv('students_complete.csv')
#students_df.head()

#merge the info into one table
school_data_complete = pd.merge(schools_df, students_df, how="left", on=["school_name", "school_name"])
school_data_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [444]:
#calculate the number of school analyzed
school_count= school_data_complete['School ID'].value_counts()
number_of_schools = len(school_count)
print(number_of_schools)

15

In [445]:
#calculate the total number of students
student_count = school_data_complete['Student ID'].value_counts()
number_of_students = len(student_count)
print(number_of_students)

39170

In [446]:
#calculate the total budget 
school_budgets =school_data_complete['budget'].unique()
#print(school_budgets)
total_budget =school_budgets.sum()
print(total_budget)

24649428

In [447]:
#calculate the average math score
avg_math_score =round(school_data_complete['math_score'].mean())

print(avg_math_score)

79

In [448]:
#calculate the average reading score
avg_reading_score =round(school_data_complete['reading_score'].mean())

print(avg_reading_score)

82

In [449]:
#calculate overall passing score
passing_rate = ((avg_math_score + avg_reading_score)/2)
print(passing_rate)

80.5

In [450]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_students = school_data_complete.loc[school_data_complete['math_score'] >= 70]
#print(passing_math_students)
num_passing_math_students = len(passing_math_students)
#print(num_passing_math_students)
percent_passing_math = round((num_passing_math_students/number_of_students)*100)
print(percent_passing_math)
#reduced_kickstarter = narrowed_kickstarter.loc[narrowed_kickstarter["pledged"]>0]

75

In [451]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_students = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
#print(passing_reading_students)
num_passing_reading_students = len(passing_reading_students)
#print(num_passing_reading_students)
percent_passing_reading = round((num_passing_reading_students/number_of_students)*100)
print(percent_passing_reading)

86

In [452]:
#create a dataframe that summarizes district statistics
district_summary = pd.DataFrame ({'Total Number of Schools' :number_of_schools, 'Total Number of Students' :number_of_students,'Total Budget' :total_budget,'Average Math Score' :avg_math_score,'Average Reading Score' :avg_reading_score,'% Passing Math' :percent_passing_math,'% Passing Reading' :percent_passing_reading,'% Overall Passing' :passing_rate},index = [0])
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,75,86,80.5

In [453]:
#change the school name from a column to the index
school_summary_df = school_data_complete
school_summary_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [454]:
#clean the table
clean_school_summary = school_summary_df.dropna(how='any')

In [455]:
#convert size to numeric types
converted_summary = clean_school_summary.copy()
converted_summary["size"] = converted_summary.loc[:, "size"].astype(float)

In [456]:
#convert budget to numeric types
converted_summary = clean_school_summary.copy()
converted_summary["budget"] = converted_summary.loc[:, "budget"].astype(float)

In [457]:
#drop irrelevant columns
narrowed_summary = converted_summary[['school_name', 'type', 'size', 'budget', 'grade', 'reading_score', "math_score"]]
narrowed_summary

,school_name,type,size,budget,grade,reading_score,math_score
0,Huang High School,District,2917,1910635.0,9th,66,79
1,Huang High School,District,2917,1910635.0,12th,94,61
2,Huang High School,District,2917,1910635.0,12th,90,60
3,Huang High School,District,2917,1910635.0,12th,67,58
4,Huang High School,District,2917,1910635.0,9th,97,84
...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130.0,12th,99,90
39166,Thomas High School,Charter,1635,1043130.0,10th,95,70
39167,Thomas High School,Charter,1635,1043130.0,9th,73,84
39168,Thomas High School,Charter,1635,1043130.0,10th,99,90
39169,Thomas High School,Charter,1635,1043130.0,11th,95,75

In [458]:
#change the school name to the index
narrowed_summary = narrowed_summary.set_index('school_name')
narrowed_summary

                        type  size     budget grade  reading_score  math_score
school_name
Huang High School   District  2917  1910635.0   9th             66          79
Huang High School   District  2917  1910635.0  12th             94          61
Huang High School   District  2917  1910635.0  12th             90          60
Huang High School   District  2917  1910635.0  12th             67          58
Huang High School   District  2917  1910635.0   9th             97          84
...                      ...   ...        ...   ...            ...         ...
Thomas High School   Charter  1635  1043130.0  12th             99          90
Thomas High School   Charter  1635  1043130.0  10th             95          70
Thomas High School   Charter  1635  1043130.0   9th             73          84
Thomas High School   Charter  1635  1043130.0  10th             99          90
Thomas High School   Charter  1635  1043130.0  11th             95          75

[39170 rows x 6 columns]

In [459]:
# hhs= narrowed_summary.loc['Huang High School']
# hhs

In [460]:
narrowed_summary['Per Student Budget'] = ((narrowed_summary['budget']) /(narrowed_summary['size']))  
narrowed_summary

,type,size,budget,grade,reading_score,math_score,Per Student Budget
school_name,,,,,,,
Huang High School,District,2917,1910635.0,9th,66,79,655.0
Huang High School,District,2917,1910635.0,12th,94,61,655.0
Huang High School,District,2917,1910635.0,12th,90,60,655.0
Huang High School,District,2917,1910635.0,12th,67,58,655.0
Huang High School,District,2917,1910635.0,9th,97,84,655.0
...,...,...,...,...,...,...,...
Thomas High School,Charter,1635,1043130.0,12th,99,90,638.0
Thomas High School,Charter,1635,1043130.0,10th,95,70,638.0
Thomas High School,Charter,1635,1043130.0,9th,73,84,638.0
Thomas High School,Charter,1635,1043130.0,10th,99,90,638.0
Thomas High School,Charter,1635,1043130.0,11th,95,75,638.0

In [461]:
# create bins for passing math grades and create a new column for passing math grades 
bins = [0, 69, 101]
names = ['0',"1"]
narrowed_summary["Passing Math"] = pd.cut(narrowed_summary["math_score"], bins, labels=names)
narrowed_summary

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math
school_name,,,,,,,,
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1
Huang High School,District,2917,1910635.0,12th,94,61,655.0,0
Huang High School,District,2917,1910635.0,12th,90,60,655.0,0
Huang High School,District,2917,1910635.0,12th,67,58,655.0,0
Huang High School,District,2917,1910635.0,9th,97,84,655.0,1
...,...,...,...,...,...,...,...,...
Thomas High School,Charter,1635,1043130.0,12th,99,90,638.0,1
Thomas High School,Charter,1635,1043130.0,10th,95,70,638.0,1
Thomas High School,Charter,1635,1043130.0,9th,73,84,638.0,1
Thomas High School,Charter,1635,1043130.0,10th,99,90,638.0,1
Thomas High School,Charter,1635,1043130.0,11th,95,75,638.0,1

In [462]:
# create bins for passing reading grades and create a new column for passing reading grades 
bins = [0, 69, 101]
names = ['0',"1"]
narrowed_summary["Passing Reading"] = pd.cut(narrowed_summary["reading_score"], bins, labels=names)
narrowed_summary

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading
school_name,,,,,,,,,
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1,0
Huang High School,District,2917,1910635.0,12th,94,61,655.0,0,1
Huang High School,District,2917,1910635.0,12th,90,60,655.0,0,1
Huang High School,District,2917,1910635.0,12th,67,58,655.0,0,0
Huang High School,District,2917,1910635.0,9th,97,84,655.0,1,1
...,...,...,...,...,...,...,...,...,...
Thomas High School,Charter,1635,1043130.0,12th,99,90,638.0,1,1
Thomas High School,Charter,1635,1043130.0,10th,95,70,638.0,1,1
Thomas High School,Charter,1635,1043130.0,9th,73,84,638.0,1,1
Thomas High School,Charter,1635,1043130.0,10th,99,90,638.0,1,1
Thomas High School,Charter,1635,1043130.0,11th,95,75,638.0,1,1

In [463]:
grouped_by_school = narrowed_summary.groupby("school_name")
students_passing = grouped_by_school.first()
students_passing

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,9th,75,59,628.0,0,1
Cabrera High School,Charter,1858,1081356.0,11th,94,94,582.0,1,1
Figueroa High School,District,2949,1884411.0,10th,85,87,639.0,1,1
Ford High School,District,2739,1763916.0,9th,66,94,644.0,1,0
Griffin High School,Charter,1468,917500.0,11th,79,68,625.0,0,1
Hernandez High School,District,4635,3022020.0,10th,70,88,652.0,1,1
Holden High School,Charter,427,248087.0,11th,86,92,581.0,1,1
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1,0
Johnson High School,District,4761,3094650.0,12th,87,87,650.0,1,1
Pena High School,Charter,962,585858.0,9th,91,75,609.0,1,1
Rodriguez High School,District,3999,2547363.0,11th,74,81,637.0,1,1
Shelton High School,Charter,1761,1056600.0,12th,70,91,600.0,1,1
Thomas High School,Charter,1635,1043130.0,10th,76,76,638.0,1,1
Wilson High School,Charter,2283,1319574.0,10th,84,71,578.0,1,1
Wright High School,Charter,1800,1049400.0,10th,89,72,583.0,1,1

In [464]:

students_passing['Passing Reading'] = students_passing.loc[:, 'Passing Reading'].astype(float)
students_passing['% Passing Reading'] = ((students_passing['Passing Reading'].sum()) /(students_passing['size'])*100)  
students_passing

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading,% Passing Reading
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,9th,75,59,628.0,0,1.0,0.261254
Cabrera High School,Charter,1858,1081356.0,11th,94,94,582.0,1,1.0,0.699677
Figueroa High School,District,2949,1884411.0,10th,85,87,639.0,1,1.0,0.440827
Ford High School,District,2739,1763916.0,9th,66,94,644.0,1,0.0,0.474626
Griffin High School,Charter,1468,917500.0,11th,79,68,625.0,0,1.0,0.885559
Hernandez High School,District,4635,3022020.0,10th,70,88,652.0,1,1.0,0.280475
Holden High School,Charter,427,248087.0,11th,86,92,581.0,1,1.0,3.044496
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1,0.0,0.445663
Johnson High School,District,4761,3094650.0,12th,87,87,650.0,1,1.0,0.273052
Pena High School,Charter,962,585858.0,9th,91,75,609.0,1,1.0,1.351351
Rodriguez High School,District,3999,2547363.0,11th,74,81,637.0,1,1.0,0.325081
Shelton High School,Charter,1761,1056600.0,12th,70,91,600.0,1,1.0,0.738217
Thomas High School,Charter,1635,1043130.0,10th,76,76,638.0,1,1.0,0.795107
Wilson High School,Charter,2283,1319574.0,10th,84,71,578.0,1,1.0,0.569426
Wright High School,Charter,1800,1049400.0,10th,89,72,583.0,1,1.0,0.722222

In [465]:
students_passing['Passing Math'] = students_passing.loc[:, 'Passing Math'].astype(float)

students_passing['% Passing Math'] = ((students_passing['Passing Math'].sum()) /(students_passing['size']))  
students_passing

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading,% Passing Reading,% Passing Math
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,9th,75,59,628.0,0.0,1.0,0.261254,0.002613
Cabrera High School,Charter,1858,1081356.0,11th,94,94,582.0,1.0,1.0,0.699677,0.006997
Figueroa High School,District,2949,1884411.0,10th,85,87,639.0,1.0,1.0,0.440827,0.004408
Ford High School,District,2739,1763916.0,9th,66,94,644.0,1.0,0.0,0.474626,0.004746
Griffin High School,Charter,1468,917500.0,11th,79,68,625.0,0.0,1.0,0.885559,0.008856
Hernandez High School,District,4635,3022020.0,10th,70,88,652.0,1.0,1.0,0.280475,0.002805
Holden High School,Charter,427,248087.0,11th,86,92,581.0,1.0,1.0,3.044496,0.030445
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1.0,0.0,0.445663,0.004457
Johnson High School,District,4761,3094650.0,12th,87,87,650.0,1.0,1.0,0.273052,0.002731
Pena High School,Charter,962,585858.0,9th,91,75,609.0,1.0,1.0,1.351351,0.013514
Rodriguez High School,District,3999,2547363.0,11th,74,81,637.0,1.0,1.0,0.325081,0.003251
Shelton High School,Charter,1761,1056600.0,12th,70,91,600.0,1.0,1.0,0.738217,0.007382
Thomas High School,Charter,1635,1043130.0,10th,76,76,638.0,1.0,1.0,0.795107,0.007951
Wilson High School,Charter,2283,1319574.0,10th,84,71,578.0,1.0,1.0,0.569426,0.005694
Wright High School,Charter,1800,1049400.0,10th,89,72,583.0,1.0,1.0,0.722222,0.007222

In [466]:
#overall passing rate
students_passing['% Overall Passing'] = ((students_passing['% Passing Math']) +(students_passing['% Passing Reading'])/2)  
students_passing

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading,% Passing Reading,% Passing Math,% Overall Passing
school_name,,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,9th,75,59,628.0,0.0,1.0,0.261254,0.002613,0.133240
Cabrera High School,Charter,1858,1081356.0,11th,94,94,582.0,1.0,1.0,0.699677,0.006997,0.356835
Figueroa High School,District,2949,1884411.0,10th,85,87,639.0,1.0,1.0,0.440827,0.004408,0.224822
Ford High School,District,2739,1763916.0,9th,66,94,644.0,1.0,0.0,0.474626,0.004746,0.242059
Griffin High School,Charter,1468,917500.0,11th,79,68,625.0,0.0,1.0,0.885559,0.008856,0.451635
Hernandez High School,District,4635,3022020.0,10th,70,88,652.0,1.0,1.0,0.280475,0.002805,0.143042
Holden High School,Charter,427,248087.0,11th,86,92,581.0,1.0,1.0,3.044496,0.030445,1.552693
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1.0,0.0,0.445663,0.004457,0.227288
Johnson High School,District,4761,3094650.0,12th,87,87,650.0,1.0,1.0,0.273052,0.002731,0.139256
Pena High School,Charter,962,585858.0,9th,91,75,609.0,1.0,1.0,1.351351,0.013514,0.689189
Rodriguez High School,District,3999,2547363.0,11th,74,81,637.0,1.0,1.0,0.325081,0.003251,0.165791
Shelton High School,Charter,1761,1056600.0,12th,70,91,600.0,1.0,1.0,0.738217,0.007382,0.376491
Thomas High School,Charter,1635,1043130.0,10th,76,76,638.0,1.0,1.0,0.795107,0.007951,0.405505
Wilson High School,Charter,2283,1319574.0,10th,84,71,578.0,1.0,1.0,0.569426,0.005694,0.290407
Wright High School,Charter,1800,1049400.0,10th,89,72,583.0,1.0,1.0,0.722222,0.007222,0.368333

In [467]:
students_passing['Average Math Score'] = (students_passing['math_score'].sum()/ students_passing['size'])
students_passing

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score
school_name,,,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,9th,75,59,628.0,0.0,1.0,0.261254,0.002613,0.133240,0.243971
Cabrera High School,Charter,1858,1081356.0,11th,94,94,582.0,1.0,1.0,0.699677,0.006997,0.356835,0.653391
Figueroa High School,District,2949,1884411.0,10th,85,87,639.0,1.0,1.0,0.440827,0.004408,0.224822,0.411665
Ford High School,District,2739,1763916.0,9th,66,94,644.0,1.0,0.0,0.474626,0.004746,0.242059,0.443227
Griffin High School,Charter,1468,917500.0,11th,79,68,625.0,0.0,1.0,0.885559,0.008856,0.451635,0.826975
Hernandez High School,District,4635,3022020.0,10th,70,88,652.0,1.0,1.0,0.280475,0.002805,0.143042,0.261920
Holden High School,Charter,427,248087.0,11th,86,92,581.0,1.0,1.0,3.044496,0.030445,1.552693,2.843091
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1.0,0.0,0.445663,0.004457,0.227288,0.416181
Johnson High School,District,4761,3094650.0,12th,87,87,650.0,1.0,1.0,0.273052,0.002731,0.139256,0.254988
Pena High School,Charter,962,585858.0,9th,91,75,609.0,1.0,1.0,1.351351,0.013514,0.689189,1.261954
Rodriguez High School,District,3999,2547363.0,11th,74,81,637.0,1.0,1.0,0.325081,0.003251,0.165791,0.303576
Shelton High School,Charter,1761,1056600.0,12th,70,91,600.0,1.0,1.0,0.738217,0.007382,0.376491,0.689381
Thomas High School,Charter,1635,1043130.0,10th,76,76,638.0,1.0,1.0,0.795107,0.007951,0.405505,0.742508
Wilson High School,Charter,2283,1319574.0,10th,84,71,578.0,1.0,1.0,0.569426,0.005694,0.290407,0.531756
Wright High School,Charter,1800,1049400.0,10th,89,72,583.0,1.0,1.0,0.722222,0.007222,0.368333,0.674444

In [468]:
students_passing['Average Reading Score'] = (students_passing['reading_score'].sum()/ students_passing['size'])
students_passing

,type,size,budget,grade,reading_score,math_score,Per Student Budget,Passing Math,Passing Reading,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
school_name,,,,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,9th,75,59,628.0,0.0,1.0,0.261254,0.002613,0.133240,0.243971,0.239550
Cabrera High School,Charter,1858,1081356.0,11th,94,94,582.0,1.0,1.0,0.699677,0.006997,0.356835,0.653391,0.641550
Figueroa High School,District,2949,1884411.0,10th,85,87,639.0,1.0,1.0,0.440827,0.004408,0.224822,0.411665,0.404205
Ford High School,District,2739,1763916.0,9th,66,94,644.0,1.0,0.0,0.474626,0.004746,0.242059,0.443227,0.435195
Griffin High School,Charter,1468,917500.0,11th,79,68,625.0,0.0,1.0,0.885559,0.008856,0.451635,0.826975,0.811989
Hernandez High School,District,4635,3022020.0,10th,70,88,652.0,1.0,1.0,0.280475,0.002805,0.143042,0.261920,0.257174
Holden High School,Charter,427,248087.0,11th,86,92,581.0,1.0,1.0,3.044496,0.030445,1.552693,2.843091,2.791569
Huang High School,District,2917,1910635.0,9th,66,79,655.0,1.0,0.0,0.445663,0.004457,0.227288,0.416181,0.408639
Johnson High School,District,4761,3094650.0,12th,87,87,650.0,1.0,1.0,0.273052,0.002731,0.139256,0.254988,0.250368
Pena High School,Charter,962,585858.0,9th,91,75,609.0,1.0,1.0,1.351351,0.013514,0.689189,1.261954,1.239085
Rodriguez High School,District,3999,2547363.0,11th,74,81,637.0,1.0,1.0,0.325081,0.003251,0.165791,0.303576,0.298075
Shelton High School,Charter,1761,1056600.0,12th,70,91,600.0,1.0,1.0,0.738217,0.007382,0.376491,0.689381,0.676888
Thomas High School,Charter,1635,1043130.0,10th,76,76,638.0,1.0,1.0,0.795107,0.007951,0.405505,0.742508,0.729052
Wilson High School,Charter,2283,1319574.0,10th,84,71,578.0,1.0,1.0,0.569426,0.005694,0.290407,0.531756,0.522120
Wright High School,Charter,1800,1049400.0,10th,89,72,583.0,1.0,1.0,0.722222,0.007222,0.368333,0.674444,0.662222

In [469]:
#keep relevant columns
clean_schools = students_passing[[ 'type', 'size','budget', 'Per Student Budget', '% Passing Reading', '% Passing Math', '% Overall Passing', 'Average Math Score', 'Average Reading Score']]
clean_schools

,type,size,budget,Per Student Budget,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,0.261254,0.002613,0.133240,0.243971,0.239550
Cabrera High School,Charter,1858,1081356.0,582.0,0.699677,0.006997,0.356835,0.653391,0.641550
Figueroa High School,District,2949,1884411.0,639.0,0.440827,0.004408,0.224822,0.411665,0.404205
Ford High School,District,2739,1763916.0,644.0,0.474626,0.004746,0.242059,0.443227,0.435195
Griffin High School,Charter,1468,917500.0,625.0,0.885559,0.008856,0.451635,0.826975,0.811989
Hernandez High School,District,4635,3022020.0,652.0,0.280475,0.002805,0.143042,0.261920,0.257174
Holden High School,Charter,427,248087.0,581.0,3.044496,0.030445,1.552693,2.843091,2.791569
Huang High School,District,2917,1910635.0,655.0,0.445663,0.004457,0.227288,0.416181,0.408639
Johnson High School,District,4761,3094650.0,650.0,0.273052,0.002731,0.139256,0.254988,0.250368
Pena High School,Charter,962,585858.0,609.0,1.351351,0.013514,0.689189,1.261954,1.239085
Rodriguez High School,District,3999,2547363.0,637.0,0.325081,0.003251,0.165791,0.303576,0.298075
Shelton High School,Charter,1761,1056600.0,600.0,0.738217,0.007382,0.376491,0.689381,0.676888
Thomas High School,Charter,1635,1043130.0,638.0,0.795107,0.007951,0.405505,0.742508,0.729052
Wilson High School,Charter,2283,1319574.0,578.0,0.569426,0.005694,0.290407,0.531756,0.522120
Wright High School,Charter,1800,1049400.0,583.0,0.722222,0.007222,0.368333,0.674444,0.662222

In [470]:
summary_table = clean_schools.rename(columns = {'type':"School Type",
                              'size':"Total Students",
                              'budget':"Total School Budget"})
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,0.261254,0.002613,0.133240,0.243971,0.239550
Cabrera High School,Charter,1858,1081356.0,582.0,0.699677,0.006997,0.356835,0.653391,0.641550
Figueroa High School,District,2949,1884411.0,639.0,0.440827,0.004408,0.224822,0.411665,0.404205
Ford High School,District,2739,1763916.0,644.0,0.474626,0.004746,0.242059,0.443227,0.435195
Griffin High School,Charter,1468,917500.0,625.0,0.885559,0.008856,0.451635,0.826975,0.811989
Hernandez High School,District,4635,3022020.0,652.0,0.280475,0.002805,0.143042,0.261920,0.257174
Holden High School,Charter,427,248087.0,581.0,3.044496,0.030445,1.552693,2.843091,2.791569
Huang High School,District,2917,1910635.0,655.0,0.445663,0.004457,0.227288,0.416181,0.408639
Johnson High School,District,4761,3094650.0,650.0,0.273052,0.002731,0.139256,0.254988,0.250368
Pena High School,Charter,962,585858.0,609.0,1.351351,0.013514,0.689189,1.261954,1.239085
Rodriguez High School,District,3999,2547363.0,637.0,0.325081,0.003251,0.165791,0.303576,0.298075
Shelton High School,Charter,1761,1056600.0,600.0,0.738217,0.007382,0.376491,0.689381,0.676888
Thomas High School,Charter,1635,1043130.0,638.0,0.795107,0.007951,0.405505,0.742508,0.729052
Wilson High School,Charter,2283,1319574.0,578.0,0.569426,0.005694,0.290407,0.531756,0.522120
Wright High School,Charter,1800,1049400.0,583.0,0.722222,0.007222,0.368333,0.674444,0.662222

In [471]:
#sort and display top 5 performing schools by overall passing
top_schools = summary_table.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
school_name,,,,,,,,,
Holden High School,Charter,427,248087.0,581.0,3.044496,0.030445,1.552693,2.843091,2.791569
Pena High School,Charter,962,585858.0,609.0,1.351351,0.013514,0.689189,1.261954,1.239085
Griffin High School,Charter,1468,917500.0,625.0,0.885559,0.008856,0.451635,0.826975,0.811989
Thomas High School,Charter,1635,1043130.0,638.0,0.795107,0.007951,0.405505,0.742508,0.729052
Shelton High School,Charter,1761,1056600.0,600.0,0.738217,0.007382,0.376491,0.689381,0.676888

In [472]:
#sort and display bottom 5 performing schools by overall passing
top_schools = summary_table.sort_values("% Overall Passing")
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,0.261254,0.002613,0.133240,0.243971,0.239550
Johnson High School,District,4761,3094650.0,650.0,0.273052,0.002731,0.139256,0.254988,0.250368
Hernandez High School,District,4635,3022020.0,652.0,0.280475,0.002805,0.143042,0.261920,0.257174
Rodriguez High School,District,3999,2547363.0,637.0,0.325081,0.003251,0.165791,0.303576,0.298075
Figueroa High School,District,2949,1884411.0,639.0,0.440827,0.004408,0.224822,0.411665,0.404205

In [478]:
#create a table with grades and math scores
math_scores_by_grade = narrowed_summary[['grade','math_score']]
math_scores_by_grade

                   grade  math_score
school_name
Huang High School    9th          79
Huang High School   12th          61
Huang High School   12th          60
Huang High School   12th          58
Huang High School    9th          84
...                  ...         ...
Thomas High School  12th          90
Thomas High School  10th          70
Thomas High School   9th          84
Thomas High School  10th          90
Thomas High School  11th          75

[39170 rows x 2 columns]

In [ ]:
# math_scores_by_grade['% Passing Reading'] = ((math_scores_by_grade['Passing Reading'].sum()) /(students_passing['size'])*100)for grades in grade:
#     if grade

In [495]:
#breakdown of school performance by spending
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
summary_table["Spending Ranges(Per Student)"] = pd.cut(summary_table["Per Student Budget"], spending_bins, labels=group_names)
summary_table

summary_table= summary_table.set_index("Spending Ranges(Per Student)") 
narrowed_table =summary_table[['% Passing Reading', '% Passing Math', '% Overall Passing', 'Average Math Score', 'Average Reading Score']]
orgainzed_summary = narrowed_table.groupby("Spending Ranges(Per Student)")
print =orgainzed_summary.first()
print

,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
Spending Ranges(Per Student),,,,,
<$585,0.699677,0.006997,0.356835,0.653391,0.641550
$585-615,1.351351,0.013514,0.689189,1.261954,1.239085
$615-645,0.261254,0.002613,0.133240,0.243971,0.239550
$645-675,0.280475,0.002805,0.143042,0.261920,0.257174

In [499]:
#breakdown of school performance by size.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
summary_table["School Size"] = pd.cut(summary_table["Total Students"], size_bins, labels=group_names)
summary_table

summary_table= summary_table.set_index("School Size") 
narrowed_table =summary_table[['% Passing Reading', '% Passing Math', '% Overall Passing', 'Average Math Score', 'Average Reading Score']]
orgainzed_summary = narrowed_table.groupby("School Size")
print =orgainzed_summary.first()
print

,% Passing Reading,% Passing Math,% Overall Passing,Average Math Score,Average Reading Score
School Size,,,,,
Small (<1000),3.044496,0.030445,1.552693,2.843091,2.791569
Medium (1000-2000),0.699677,0.006997,0.356835,0.653391,0.641550
Large (2000-5000),0.261254,0.002613,0.133240,0.243971,0.239550

In [508]:
#breakdown of school performance by school type.
#pd.cut([0, 1, 1, 2], bins=4, labels=False)
type_bins = [0, 1]
group_names = ["District", "Charter"]
summary_table["School Type"] = pd.cut(summary_table["School Type"],type_bins, labels=group_names)

TypeError: '<' not supported between instances of 'int' and 'str'